﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DynamicVariables.ascx.cs" Inherits="InnovAction.Modules.InnovActionSGSV.DynamicVariables" %>




 
        <h2 id="H312312" class="dnnFormSectionHead level3"><a href="#">Crear variable</a></h2>

  <fieldset class="dnnClear" style="background-color:rgb(240, 240, 240)">

<div style="width:100%; "> 
    <div style="float:left; width:32%"> <asp:Label ID="lblBody" runat="server"   Text="Variable Name:"></asp:Label><br />
        <asp:TextBox ID="tx_VariableName" runat="server"></asp:TextBox>


    </div>
    <div style="float:left; width:32%">  Variable Value:<br />
 
       <asp:TextBox ID="tx_Value" runat="server"></asp:TextBox></div>

    <div style="float:left; width:32%"> is Page Variable:<br />
 
        <asp:CheckBox ID="chk_pageVar" runat="server" Text="Check if variable works in the whole page" /></div>

 


</div>


         <asp:Button ID="AddMe" CssClass="dnnPrimaryAction" style="float:right"  runat="server" Text="Agregar" OnClick="Add_Click" />

<br />
</fieldset>



        <h2 id="H1dsada" class="dnnFormSectionHead level3"><a href="#">Mostrar variables</a></h2>

  <fieldset class="dnnClear">


<div id="dynamicDiv" runat="server">

                    <asp:PlaceHolder ID="DynamicPlaceHolder" runat="server"></asp:PlaceHolder>
         </div>

      </fieldset>
<asp:TextBox CssClass="form" ID="tx_Qty" runat="server" Visible="False"></asp:TextBox>
 
    

 
