﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DynamicRepeater.ascx.cs" Inherits="InnovAction.Modules.InnovActionSGSV.DynamicRepeater" %>




 
        <h2 id="H312312" class="dnnFormSectionHead level3"><a href="#">Crear nuevo repeater</a></h2>

  <fieldset class="dnnClear" style="background-color:rgb(240, 240, 240)">

<div style="width:100%; "> 
        <div style="float:left; width:95%"> 
     <asp:Label ID="lblBody" runat="server"   Text="Repeater:"></asp:Label>
        <asp:TextBox ID="tx_RepeaterName" runat="server" style="padding: 5px;margin: 0px;"></asp:TextBox>
 </div>
    <div style="float:left; width:32%">  Query:<br />
 
       <asp:TextBox ID="tx_Query" runat="server"  Width="100%" 
                TextMode="MultiLine"  BorderColor="Black" BorderStyle="Solid" CssClass="NormalTextBox" /></div>

    <div style="float:left; width:32%">  Template:<br />
 
       <asp:TextBox ID="tx_Template" runat="server" Width="100%" 
                TextMode="MultiLine"  BorderColor="Black"  BorderStyle="Solid" CssClass="NormalTextBox" /></div>

        <div style="float:left; width:32%">  SQLConnection (Optional):<br />
 
       <asp:TextBox ID="tx_SQLConn" runat="server" Width="100%" 
                TextMode="MultiLine"  BorderColor="Black"  BorderStyle="Solid" CssClass="NormalTextBox" /></div>


</div>


         <asp:Button ID="AddMe" CssClass="dnnPrimaryAction" style="float:right"  runat="server" Text="Agregar" OnClick="Add_Click" />

<br />
</fieldset>



        <h2 id="H1dsada" class="dnnFormSectionHead level3"><a href="#">Mostrar repeaters</a></h2>

  <fieldset class="dnnClear">

      <asp:Button ID="showAll" runat="server" Text="Show all repeaters" OnClick="showAll_Click" /><br />
<div id="dynamicDiv" runat="server">
    
                    <asp:PlaceHolder ID="DynamicPlaceHolder" runat="server"></asp:PlaceHolder>
         </div>

      </fieldset>
<asp:TextBox CssClass="form" ID="tx_Qty" runat="server" Visible="False"></asp:TextBox>
 
    

 
