﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RepeaterControl.ascx.cs" Inherits="InnovAction.Modules.InnovActionSGSV.RepeaterControl" %>



<div style="width:100%; "> 
    <div style="float:left; width:95%">  
  <asp:textbox ID="tx_ID" runat="server" Text="Label" BorderColor="Black" style="display:none;"  BorderStyle="Solid" Visible="true"></asp:textbox>
  <asp:label ID="tx_IDDisplay" runat="server" Text="Label" BorderColor="Black"  BorderStyle="Solid" CssClass="NormalTextBox"></asp:label>

        <asp:TextBox ID="tx_RepeaterName" style="padding: 5px;margin: 0px;margin-bottom: 5px;" runat="server"></asp:TextBox>
  
         </div>
      <div style="float:left; width:32%">  
  <asp:textbox ID="tx_query"  TextMode="MultiLine"  runat="server" Text="Label" BorderColor="Black" Width="100%"  BorderStyle="Solid" CssClass="NormalTextBox"></asp:textbox>
   </div>

      <div style="float:left; width:32%"> 
  <asp:textbox ID="tx_Template" TextMode="MultiLine"   runat="server" Text="Label" BorderColor="Black" Width="100%" BorderStyle="Solid" CssClass="NormalTextBox"></asp:textbox>
   </div>

       <div style="float:left; width:32%"> 
  <asp:textbox ID="tx_sqlConn"  TextMode="MultiLine"  runat="server" Text="Label" BorderColor="Black" Width="100%" BorderStyle="Solid" CssClass="NormalTextBox"></asp:textbox>

   </div>


</div>


     <p>
 <asp:Button  CssClass="dnnPrimaryAction" style="float:right" ID="Update" runat="server" OnClick="Update_Click" Text="Update" />
 <asp:Button  CssClass="dnnPrimaryAction" style="float:right" ID="Delete" runat="server" OnClick="Delete_Click" Text="Eliminar" />
</p>

<asp:CheckBox CssClass="texto" ID="chk_IsNew" runat="server" Checked="True" Visible="False" />

<asp:Label CssClass="texto" ID="tx_KidNO" runat="server" Text="Numero" Visible="false" HelpText="It's the name of the thing" />
 
        

<hr />
                                  