﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="VariableControl.ascx.cs" Inherits="InnovAction.Modules.InnovActionSGSV.VariableControl" %>



<div style="width:100%; "> 
    <div style="float:left; width:32%"> 
        <asp:label ID="tx_ID" runat="server" Text="Label" BorderColor="Black"  BorderStyle="Solid" Visible="false"></asp:label>
        <asp:TextBox ID="tx_VariableName" runat="server"></asp:TextBox>
    </div>

      <div style="float:left; width:32%">  
       <asp:TextBox ID="tx_Value" runat="server"></asp:TextBox>
   </div>

      <div style="float:left; width:32%"> 
          <asp:CheckBox ID="chk_pageVar" runat="server" />
   </div>



</div>


     <p>
 <asp:Button  CssClass="dnnPrimaryAction" style="float:right" ID="Update" runat="server" OnClick="Update_Click" Text="Update" />
 <asp:Button  CssClass="dnnPrimaryAction" style="float:right" ID="Delete" runat="server" OnClick="Delete_Click" Text="Eliminar" />
</p>

<asp:CheckBox CssClass="texto" ID="chk_IsNew" runat="server" Checked="True" Visible="False" />

<asp:Label CssClass="texto" ID="tx_KidNO" runat="server" Text="Numero" Visible="false" HelpText="It's the name of the thing" />
 
        

<hr />
                                  